In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/dataframe.csv')
df

,Unnamed: 0,title,author,rating,votes_count,students_count,level,duration,platform,free
0,0,Машинное обучение и анализ данных,Moscow Institute of Physics and Technology,4.7,6382.0,100000.0,Intermediate,224.000000,Coursera,False
1,1,Introducción a la Especialización en Ciencia d...,IBM,4.6,116.0,3400.0,Beginner,48.000000,Coursera,False
2,2,Getting Started with SAS Programming,SAS,4.8,2083.0,67000.0,Beginner,22.000000,Coursera,False
3,3,Introduction to Designing Data Lakes on AWS,Amazon Web Services,4.7,65.0,6100.0,Intermediate,14.000000,Coursera,False
4,4,Estatística não-paramétrica para a tomada de d...,Universidade de São Paulo,4.4,109.0,9300.0,Intermediate,13.000000,Coursera,False
...,...,...,...,...,...,...,...,...,...,...
4678,4678,Diploma in Neural Networks in Python - Deep Le...,Start-Tech Academy,NaN,NaN,690.0,Mixed,8.000000,Alison,False
4679,4679,Data Visualization In Power BI - Master The Vi...,Ayush Kumar,0.0,0.0,219.0,Mixed,2.639167,Skillshare,True
4680,4680,Learn Power BI DAX from scratch,Muhammad Asif,4.0,3.0,93.0,Mixed,1.672778,Skillshare,True
4681,4681,Python For Beginners,Sara Al-Arab,4.0,70.0,83.0,Beginner,2.963056,Skillshare,True
4682,4682,Artificial Intelligence for Healthcare: Opport...,Taipei Medical University,4.6,22.0,7437.0,Mixed,4.000000,FutureLearn,True