In [1]:
import pandas as pd
from sqlalchemy import create_engine
from MyCreds.mycreds import PostgreSQL

In [2]:
conn_string = f'postgresql://{PostgreSQL.username}:{PostgreSQL.password}@{PostgreSQL.host}/online_data_science_courses'
table_name = 'kaggle_odsc'

db = create_engine(conn_string)
cnxn = db.connect()

query = """SELECT * FROM kaggle_odsc"""

df = pd.read_sql(query, con=cnxn)
df

,title,author,rating,votes_count,students_count,level,duration,platform,free
0,Машинное обучение и анализ данных,Moscow Institute of Physics and Technology,4.7,6382.0,100000.0,Intermediate,224.000000,Coursera,False
1,Introducción a la Especialización en Ciencia d...,IBM,4.6,116.0,3400.0,Beginner,48.000000,Coursera,False
2,Getting Started with SAS Programming,SAS,4.8,2083.0,67000.0,Beginner,22.000000,Coursera,False
3,Introduction to Designing Data Lakes on AWS,Amazon Web Services,4.7,65.0,6100.0,Intermediate,14.000000,Coursera,False
4,Estatística não-paramétrica para a tomada de d...,Universidade de São Paulo,4.4,109.0,9300.0,Intermediate,13.000000,Coursera,False
...,...,...,...,...,...,...,...,...,...
4678,Diploma in Neural Networks in Python - Deep Le...,Start-Tech Academy,NaN,NaN,690.0,Mixed,8.000000,Alison,False
4679,Data Visualization In Power BI - Master The Vi...,Ayush Kumar,0.0,0.0,219.0,Mixed,2.639167,Skillshare,True
4680,Learn Power BI DAX from scratch,Muhammad Asif,4.0,3.0,93.0,Mixed,1.672778,Skillshare,True
4681,Python For Beginners,Sara Al-Arab,4.0,70.0,83.0,Beginner,2.963056,Skillshare,True
4682,Artificial Intelligence for Healthcare: Opport...,Taipei Medical University,4.6,22.0,7437.0,Mixed,4.000000,FutureLearn,True

In [ ]:
# !pip install pycld3

In [3]:
import cld3

In [5]:
# Reference: https://amitness.com/2019/07/identify-text-language-python/
# detector = cld3.NNetLanguageIdentifier(min_num_bytes=0,
#                                         max_num_bytes=1000)

text = "This text is written in English"
result = cld3.get_language(text=text)
print(result.language)

en

In [6]:
lang_df = df.copy()

In [7]:
lang_df['language'] = lang_df['title'].apply(lambda x: cld3.get_language(text=x).language)
lang_df

,title,author,rating,votes_count,students_count,level,duration,platform,free,language
0,Машинное обучение и анализ данных,Moscow Institute of Physics and Technology,4.7,6382.0,100000.0,Intermediate,224.000000,Coursera,False,ru
1,Introducción a la Especialización en Ciencia d...,IBM,4.6,116.0,3400.0,Beginner,48.000000,Coursera,False,es
2,Getting Started with SAS Programming,SAS,4.8,2083.0,67000.0,Beginner,22.000000,Coursera,False,en
3,Introduction to Designing Data Lakes on AWS,Amazon Web Services,4.7,65.0,6100.0,Intermediate,14.000000,Coursera,False,en
4,Estatística não-paramétrica para a tomada de d...,Universidade de São Paulo,4.4,109.0,9300.0,Intermediate,13.000000,Coursera,False,pt
...,...,...,...,...,...,...,...,...,...,...
4678,Diploma in Neural Networks in Python - Deep Le...,Start-Tech Academy,NaN,NaN,690.0,Mixed,8.000000,Alison,False,en
4679,Data Visualization In Power BI - Master The Vi...,Ayush Kumar,0.0,0.0,219.0,Mixed,2.639167,Skillshare,True,co
4680,Learn Power BI DAX from scratch,Muhammad Asif,4.0,3.0,93.0,Mixed,1.672778,Skillshare,True,fy
4681,Python For Beginners,Sara Al-Arab,4.0,70.0,83.0,Beginner,2.963056,Skillshare,True,en
4682,Artificial Intelligence for Healthcare: Opport...,Taipei Medical University,4.6,22.0,7437.0,Mixed,4.000000,FutureLearn,True,en

In [8]:
lang_df[['title', 'language']]

                                                  title language
0                     Машинное обучение и анализ данных       ru
1     Introducción a la Especialización en Ciencia d...       es
2                  Getting Started with SAS Programming       en
3           Introduction to Designing Data Lakes on AWS       en
4     Estatística não-paramétrica para a tomada de d...       pt
...                                                 ...      ...
4678  Diploma in Neural Networks in Python - Deep Le...       en
4679  Data Visualization In Power BI - Master The Vi...       co
4680                    Learn Power BI DAX from scratch       fy
4681                               Python For Beginners       en
4682  Artificial Intelligence for Healthcare: Opport...       en

[4683 rows x 2 columns]

This performance is annoyingly bad and I'm not sure why yet.

In [9]:
# !pip install gcld3

In [10]:
import gcld3

detector = gcld3.NNetLanguageIdentifier(min_num_bytes=0,
                                        max_num_bytes=1000)

text = "This text is written in English"
result = detector.FindLanguage(text=text)

print(result.language)

en

In [11]:
lang_df['language'] = lang_df['title'].apply(lambda x: detector.FindLanguage(text=x).language)
lang_df

,title,author,rating,votes_count,students_count,level,duration,platform,free,language
0,Машинное обучение и анализ данных,Moscow Institute of Physics and Technology,4.7,6382.0,100000.0,Intermediate,224.000000,Coursera,False,ru
1,Introducción a la Especialización en Ciencia d...,IBM,4.6,116.0,3400.0,Beginner,48.000000,Coursera,False,es
2,Getting Started with SAS Programming,SAS,4.8,2083.0,67000.0,Beginner,22.000000,Coursera,False,en
3,Introduction to Designing Data Lakes on AWS,Amazon Web Services,4.7,65.0,6100.0,Intermediate,14.000000,Coursera,False,en
4,Estatística não-paramétrica para a tomada de d...,Universidade de São Paulo,4.4,109.0,9300.0,Intermediate,13.000000,Coursera,False,pt
...,...,...,...,...,...,...,...,...,...,...
4678,Diploma in Neural Networks in Python - Deep Le...,Start-Tech Academy,NaN,NaN,690.0,Mixed,8.000000,Alison,False,en
4679,Data Visualization In Power BI - Master The Vi...,Ayush Kumar,0.0,0.0,219.0,Mixed,2.639167,Skillshare,True,co
4680,Learn Power BI DAX from scratch,Muhammad Asif,4.0,3.0,93.0,Mixed,1.672778,Skillshare,True,fy
4681,Python For Beginners,Sara Al-Arab,4.0,70.0,83.0,Beginner,2.963056,Skillshare,True,en
4682,Artificial Intelligence for Healthcare: Opport...,Taipei Medical University,4.6,22.0,7437.0,Mixed,4.000000,FutureLearn,True,en

In [12]:
lang_df[['title', 'language']]

                                                  title language
0                     Машинное обучение и анализ данных       ru
1     Introducción a la Especialización en Ciencia d...       es
2                  Getting Started with SAS Programming       en
3           Introduction to Designing Data Lakes on AWS       en
4     Estatística não-paramétrica para a tomada de d...       pt
...                                                 ...      ...
4678  Diploma in Neural Networks in Python - Deep Le...       en
4679  Data Visualization In Power BI - Master The Vi...       co
4680                    Learn Power BI DAX from scratch       fy
4681                               Python For Beginners       en
4682  Artificial Intelligence for Healthcare: Opport...       en

[4683 rows x 2 columns]

In [14]:
lang_df[lang_df['language'] == 'sn'][['title', 'language']]

                                                  title language
7                             Exploratory Data Analysis       sn
30                                     UX Data Analysis       sn
101   Forecast Future Demand of Phone Using Predicti...       sn
251                  Key Technologies in Data Analytics       sn
261                       Statistics for Data Analytics       sn
...                                                 ...      ...
4458                    Machine Learning: Data Analysis       sn
4593               Advanced Business Analytics Capstone       sn
4619                                      Data Literacy       sn
4646  Python Data Visualization using Seaborn - Begi...       sn
4666               Regression Analysis with Yellowbrick       sn

[75 rows x 2 columns]

I only see two in the results above that aren't fully English.  The rest, based on my quick manual check, are all fully English which is really disappointing.

- KNIME - Datenanalyse/Datenverarbeitung + Machine Learning
- Power BI وتقارير باستخدام Visualizations إنشاء